<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

  <!-- Material Design for Bootstrap CSS -->
  <link rel="stylesheet" href="bootstrap-material-design.min.css">

  <title>4220 Final Project</title>

  <style>
    [v-cloak] {
      display: none;
    }

    input {
      text-align: center;
    }
  </style>
</head>
<body class='container-fluid'>
<div id='yelp-search'>
  <div class='row'>
    <div class='col-sm-2 col-md-2'>
      <p class="h4">Search History</p>
      <div v-show='history.length'>
        <history-component v-bind:history='history'></history-component>
      </div>
    </div>
    <div class='col'>
      <div class='card mb-3'>
        <img class='card-img-top' src='./title.png'/>
      </div>
      <div class='mx-auto'>
        <div class='input-group-prepend mb-3'>
          <input v-model='cuisine' class='form-control' type='text'
                 placeholder='Click here to search for your next cuisine!' maxlength='89'
                 size='60'/>
          <input v-model='location' class='form-control' type='text'
                 placeholder='Enter your location here' maxlength="89" size='30'/>
          <select v-model='limit' class="btn btn-outline-primary dropdown-toggle">
            <option disabled-value="">Please select amount of searches.</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <button v-on:click='searchFoods' :disabled='!location' class='btn btn-outline-primary'
                  type='submit'>Search
          </button>
        </div>
      </div>
      <div v-show='results.length'>
        <results-component v-bind:results='results'></results-component>
      </div>
      <div v-show='reviews.length'>
        <reviews-component v-bind:reviews='reviews' v-bind:selected='selected'></reviews-component>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="app.js"></script>
</body>
</html>
