<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>4220 Final Project</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <style>
      [v-cloak] {
        display: none;
      }
    </style>
  </head>
  <body class='container-fluid'>
    <div id='yelp-search'>
      <div class='row'>
        <div class='col-sm-2 col-md-2'>
          <h4>Search History</h4>
          <div v-show='history.length'>
            <history-component v-bind:history='history'></history-component>
          </div>
        </div>
        <div class='col'>
          <div class='card mb-3'>
            <img class='card-img-top' src='./title.png'/>
          </div>
          <div class='mx-auto'>
            <div class='input-group-prepend mb-3'>
              <input v-model='cuisine' class='form-control' type='text' placeholder='Click here to search for your next cuisine!' maxlength='89' size='60'/>
              <input v-model='location' class='form-control' type='text' placeholder='Enter your location here' maxlength="89" size='30' />
              <select v-model='limit'>
                <option disabled-value=""> Please select amount of searches.</option>
                <option value="4">4</option>
                <option value="8" selected="selected">8</option>
                <option value="12">12</option>
                <option value="16">16</option>
                <option value="20">20</option>
              </select>
              <button v-on:click='searchFoods' :disabled='!location' class='btn btn-outline-secondary' type='submit'>Search</button>
            </div>
          </div>
          <div v-show='results.length'>
            <results-component v-bind:results='results'></results-component>
          </div>
          <div v-show='reviews.length'>
            <reviews-component v-bind:reviews='reviews' v-bind:selected='selected'></reviews-component>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="https://unpkg.com/vue@2.5.15/dist/vue.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/socket.io-client@2.1.0/dist/socket.io.js"></script>
    <script type="text/javascript" src="app.js"></script>
  </body>
</html>
